---
import { Image } from "astro:assets";

interface props {
  title: string;
  image: ImageMetadata;
  redirectTo: string;
  textButton: string;
}

const { title, image, redirectTo, textButton } = Astro.props as props;
---

<div class="flex max-w-[300px] flex-col gap-3 py-0 text-center items-center">
  
  <Image src={image} class="aspect-square w-[100%] object-cover" alt={title}/>

  <p class=" text-2xl font-Poppins font-semibold">{title}</p>
  <slot class="text-base font-Poppins font-normal" name="content" />
  <a
    class="block px-[18px] py-3 m-auto mt-3 rounded-md bg-red-600 font-Poppins text-lg font-bold text-white "
    href={redirectTo}
  >
    {textButton}
  </a>
</div>
