---
import { Image } from 'astro:assets';

interface props {
  title: string;
  image: ImageMetadata;
  redirectTo: string;
  textButton: string;
}

const { title, image, redirectTo, textButton } = Astro.props as props;
---

<div class="flex max-w-[300px] flex-col items-center gap-3 py-0 text-center">
  <Image src={image} class="aspect-square w-[100%] object-cover" alt={title} />

  <p class="font-Poppins text-2xl font-semibold">{title}</p>
  <slot class="font-Poppins text-base font-normal" name="content" />
  <a
    class="font-Poppins m-auto mt-3 block rounded-md bg-red-600 px-[18px] py-3 text-lg font-bold text-white"
    href={redirectTo}
  >
    {textButton}
  </a>
</div>
